


<%= turbo_stream_from "todo_items" %>
<div class="row ">
<div class="col">
<div class="card text-center">



<%= turbo_frame_tag dom_id(@todo_list) do %>
 <%= render partial:"todo_lists/todo_list_info",locals:{todo_list: @todo_list} %>
 <%end%>
  

<div class="card-body">
 
  
<%= turbo_frame_tag "todo_item_form" do %>
  <%= render partial:"todo_items/form",locals:{todo_list: @todo_list} %>
<%end%>
  <ul class="list-group">
  

  <% if @todo_items %>
  
  
<%= turbo_frame_tag "todo_items" do %>
  <%= render @todo_items %> 
 
  
  <%end%>
  <%end%>
  </ul>
</div>
</div>
</div>
</div>

 